<%- include('../_layout/header'); -%>

<h3 class="text-center">Add Result</h3>

<div class="row">
  <div class="col-sm-12 col-md-4 offset-md-4">

    <% if (locals.error) { %>
      <div class="alert alert-danger alert-dismissible fade show" id="message" role="alert">
        <%= error %>
        <button type="button" class="btn-close" id="close" aria-label="Close"></button>
      </div>
    <% } %>

    <form method="post">

      <div class="mb-3">
        <label for="rollno" class="form-label">Roll No.</label>
        <input id="rollno" name="rollno" type="number" class="form-control" 
          value="<%= locals.rollno %>" required autofocus />
      </div>

      <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input id="name" name="name" class="form-control" 
          value="<%= locals.name %>" required />
      </div>

      <div class="mb-3">
        <label for="dob" class="form-label">Date of Birth</label>
        <input id="dob" name="dob" type="date" class="form-control"
          value="<%= locals.dob.getFullYear() %>-<%= ('0' + locals.dob.getMonth()).slice(-2) %>-<%= ('0' + locals.dob.getDate()).slice(-2) %>" required />
      </div>

      <div class="mb-3">
        <label for="score" class="form-label">Score</label>
        <input id="score" name="score" type="text" class="form-control" 
          value="<%= locals.score %>" required />
      </div>

      <div class="pt-2 d-grid gap-2">
        <button class="btn btn-primary" type="submit">Sign In</button>
        <button class="btn btn-outline-warning" type="reset">Clear</button>        
      </div>

    </form>

  </div>
</div>

<script>
  const inputNumeric = function (e) {
    if (e.which != 8 && e.which != 190 && e.which != 0 && e.which < 48 || e.which > 57) {
      e.preventDefault();
    }
  }
  document.querySelector("#score").addEventListener("keypress", inputNumeric);
  document.querySelector("#rollno").addEventListener("keypress", inputNumeric);
</script>
<script src="/javascript/dismissAlert.js"></script>

<%- include('../_layout/footer'); -%>